<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437608980183-vpomh2v9m8r20ltnui5mgto9emps5tes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437608980183-vpomh2v9m8r20ltnui5mgto9emps5tes</string>
	<key>API_KEY</key>
	<string>AIzaSyCAwyc4LV4WBNYtyUIvBZxWbluK_HbT2fQ</string>
	<key>GCM_SENDER_ID</key>
	<string>437608980183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.astanait.edu.kz.RestaurantApp</string>
	<key>PROJECT_ID</key>
	<string>iosfinal-d6fc9</string>
	<key>STORAGE_BUCKET</key>
	<string>iosfinal-d6fc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437608980183:ios:6fc0b27624cef630c5da92</string>
</dict>
</plist>